mixin card(tag, date, title, src)
  article.card
    a(href='#' aria-label='Открыть новость').card__link
    .card__image
      img(src= src width='468' height='264').card__pict
    .card__content
      .card__desc
        .card__tags
          span.card__tag= tag
          span.card__date= date
        h3.card__title= title
      button.card__arow
        svg(width='21' height='18').card__icon
          use(xlink:href="img/sprite.svg#icon-arow")

mixin cardTags(tag, tagTwo, date, title, src)
  article.card
    a(href='#' aria-label='Открыть новость').card__link
    .card__image
      img(src= src width='468' height='264').card__pict
    .card__content
      .card__desc
        .card__tags
          span.card__tag= tag
          span.card__tag= tagTwo
          span.card__date= date
        h3.card__title= title
    button.card__arow
      svg(width='28' height='18').card__icon
        use(xlink:href="img/sprite.svg#icon-arow")

mixin card-main(tag, date, title, text, image)
  article.card.card--main
    a(href='new.html' aria-label='Открыть новость').card__link.card__link--main
    .card__image.card__image--main
      img(src= image width='468' height='264').card__pict
    .card__content.card__content--main
      .card__desc
        .card__tags
          span.card__tag= tag
          span.card__date= date
        h3.card__title.card__title--main= title
        p.card__text= text
    button.card__arow.card__arow--main
      svg(width='21' height='18').card__icon
        use(xlink:href="img/sprite.svg#icon-arow")
